@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-left">
            <li>@Html.ActionLink("Create Event", "CreateEvent", "Home")</li>
            <li>@Html.ActionLink("My Events", "MyEvents", "Home")</li>
            <li>@Html.ActionLink("Invitations", "Invitations", "Home")</li>
            <li>@Html.ActionLink("Customer Support", "CustomerSupport", "Home")</li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello, " + User.Identity.GetUserName(), "Index", "Home")
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Logout</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">

        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
